.sm-heading1 {
  font-weight: 700;
  font-size: 36px;
}
.sm-heading2 {
  font-weight: 700;
  font-size: 24px;
}
.sm-heading3 {
  font-weight: 700;
  font-size: 20px;
}
.sm-heading4 {
  font-weight: 700;
  font-size: 18px;
}
.sm-heading5 {
  font-weight: 700;
  font-size: 16px;
}

.sm-heading6 {
  font-weight: 700;
  font-size: 14px;
}

.sm-heading7 {
  font-weight: 700;
  font-size: 12px;
}

.heading1 {
  font-weight: 700;
  font-size: 58px;
}

.heading2 {
  font-weight: 700;
  font-size: 44px;
}


.heading3 {
  font-weight: 700;
  font-size: 2rem;
}

.heading4 {
  font-weight: 700;
  font-size: 24px;
}

.heading5 {
  font-weight: 700;
  font-size: 18px;
}

.heading6 {
  font-weight: 700;
  font-size: 16px;
}
