.sub-heading {
    font-weight: 600;
    font-size:24;
}

.sub-heading1 {
    font-weight: 600;
    font-size:16;
}

.sub-heading2 {
    font-weight: 600;
    font-size:14;
}


.sm-sub-heading1 {
    font-weight: 600;
    font-size:16;
}
.sm-sub-heading2 {
    font-weight: 600;
    font-size:14;
}
.sm-sub-heading3 {
    font-weight: 600;
    font-size:12;
}